/* DARK MODE LITEPICKER */
[data-bs-theme="dark"] .litepicker {
    color: #e6e6e6;
}

/* fondo del calendario */
[data-bs-theme="dark"] .litepicker .container__months {
    background: #1e1e2d !important;
    border: 1px solid #2c2c3a !important;
}

/* encabezado mes */
[data-bs-theme="dark"] .litepicker .month-item-header {
    background: #1e1e2d !important;
    color: #e6e6e6 !important;
}

/* fila de días de semana */
[data-bs-theme="dark"] .litepicker .month-item-weekdays-row {
    background: #1e1e2d !important;
    color: #9aa0ac !important;
}

/* días */
[data-bs-theme="dark"] .litepicker .day-item {
    color: #e6e6e6 !important;
}

/* hover */
[data-bs-theme="dark"] .litepicker .day-item:hover {
    background: #2c2c3a !important;
}

/* día seleccionado */
[data-bs-theme="dark"] .litepicker .is-selected {
    background: #206bc4 !important;
    color: #fff !important;
}

/* día actual */
[data-bs-theme="dark"] .litepicker .is-today {
    color: #4da3ff !important;
}